@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
}

.nes-icon.linkedin::before{
  color: rgb(31, 41, 55) !important;
}